<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>text</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static',filename='/textsummarizations.css')}}">
    </head>
    <body>

        <div class="header1">
            <div class="container">
              <img src="static/image/rundown.jpg" class="hello"> 
              <h2 > TextRundownBox </h2>          
            
               <div class="header1-right">
                
                <a href="{{ url_for('blogs') }}">Blogs</a>
                <a href="{{ url_for('login') }}">Login</a>
                   <a href="#">Logout</a>
                </div>
                </div>
          </div>

          <div class="topic">
            <h3>Related Blogs</h3>
            <div class="topic1">                   
               <img src="static/image/summ.jpg" class="im1">
               <h4>What Is Text Summarizing ?...</h4>
               
            </div>

            <div class="topic2">                   
                <img src="static/image/diffe.jpg" class="im2">
                <h4 class="text2">Difference between Paraphrasing and <br>Summarizing...</h4>
             </div>

             <div class="topic3">                   
                <img src="static/image/chatgpt.jpg" class="im3">
                <h4 class="text3">Mastering The Art Of Writing With  Editpad & ChatGPT...</h4>
             </div>

        </div>

     



    <div class="text">
        <img src="static/image/summ.jpg" class="fgh">  
        <div class="main"> 
        <h2 class="htitle"><br>What Is Text Summarization ? <br>________________________________________</h2>
        
        <div class="dis">
        <p ><br>
            If you’re trying to learn more about Summarizing, you’re at the right place. In this blog post, we’ll <br>be talking about what summarizing is, 
            how you can do it properly and how it can help you with your<br> writingendeavors.<br><br>
            
            <h4>The Definition of Summarizing</h4><br>
            The automatic summarization of any text is the process of shortening a specific set of data to get the <br> most important information.<br><br>

            It is the process of creating a short summary of useful data by getting the main points written in the <br>content.<br><br>

            Our text summarizer uses advanced AI-based algorithms to analyze and summarize your content.<br><br>
            It extracts the best appropriate sentences and generates the perfect summary of the given text.<br><br>

           <b><u>There are two main types of text summarization:</u></b><br><br>
         <b> <u> 1.Extractive Summarization:</u></b>In this approach, the summary is created by selecting and extracting <br>
         sentences or phrases directly from the original text. The selected sentences are usually the ones that<br>
          contain important keywords, phrases, or concepts. Extractive summarization methods often involve<br>
           ranking sentences based on various criteria such as word frequency, sentence relevance, and coherence.<br><br>
           <b>Advantages of extractive summarization:</b><br>
           Preserves the exact wording of the original text.<br>
           Can capture nuanced language and specific details.<br><br>
           <b>Challenges of extractive summarization:</b><br>

           Sentence redundancy can occur.<br>
           Coherence and flow of the summary may be compromised.<br><br>

           <b><u>2.Abstractive Summarization: </u></b>
           Abstractive summarization involves generating a summary by<br> paraphrasing and rephrasing the content from the original text. This approach aims to create summaries <br>that may not contain the exact wording 
           of the source text but convey the same meaning in a more concise<br> form. Abstractive summarization 
           often requires more advanced natural language processing techniques,<br> such as language generation and understanding.<br><br>

        <b>Advantages of abstractive summarization:</b><br>
        Can create more coherent and concise summaries.<br>
        Has the potential to capture the essence of the content in a more human-like way.<br><br>

      <b></u>  Challenges of abstractive summarization:</u></b><br>
      Requires a deeper understanding of the text's context and semantics.<br>
May introduce errors or incorrect interpretations.<br><br>

            <img src="static/image/summ1.jpg" class="mnv"><br><br></p>
          <p class="dis1">  
            <b><u>Text summarization techniques can involve various steps and methods, including:</u></b><br><br>
                <b>Preprocessing:</b> Cleaning and preparing the text by removing unnecessary formatting, special characters, and noise.<br><br>
                <b>Sentence or Phrase Extraction:</b>Identifying the most relevant sentences or phrases using techniques like sentence scoring, keyword extraction, and more.<br><br>
                <b>Sentence Compression:</b> Shortening sentences by removing less relevant information while preserving key concepts.<br><br>
                <b>Paraphrasing and Language Generation:</b> Rewriting sentences using synonyms, rephrasing, and other language generation techniques to create a concise and coherent summary.<br><br>
                <b>Coherence and Flow: </b>Ensuring that the summary maintains logical flow and coherence, making it easy for readers to understand.<br><br>

            <img src="static/image/textsumm.jpg" class="ak">






        </p>
        </div>
        </div>
    </div>

    

        <script src="" async defer></script>
    </body>
</html>